body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f8f8f8;
}

.container {
    margin: 60px auto;
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul, footer ul {
    padding: 0;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #007bff; /* Change link color */
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    color: #333; /* Change heading color */
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #555; /* Change paragraph color */
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Add separator between posts */
    padding-bottom: 10px; /* Add padding bottom for spacing */
}
